{% extends 'core/base_nav.html' %}


{% block contenido %}
 
<h1 class="masthead-heading mb-0" style="text-align:left; color: black">Sobre Nosotros</h1>
<h2 class="masthead-subheading mb-0"style="text-align:left; color: black">Que es Aseguradora CAJO?</h2><br><br>
<h3 class="sobrenosotrostext" style="text-align: justify; color: black">CAJO es una empresa chilena, pionera en satisfacer las necesidades automotrices de nuestros clientes, entregando diversos servicios como asistencia, proteccion y/o reparacion en casos de accidentes o robos en ruta.</h3>    <br>
    
{% endblock contenido %}