{% extends 'core/base.html' %}


{% block contenido1 %}

<p>Cajo Seguros te ofrece el mejor Seguro Automotriz que puedes contratar, con los mejores estándares de calidad y la mejor atención. Descubre algunos de los beneficios que el Seguro tiene para tí: Talleres especialistas en la marca de tu vehiculo, Taller tecnico, Servicio de gruas y mucho más.</p>

{% endblock contenido1 %}

{% block contenido2 %}

<p>Porque nos preocupamos de satisfacer las necesidades de nuestros asegurados, teniendo servicios de calidad al alcance de tu bolsillo. No siga pagando de más por menos servicios y contactese con nosotros.</p>

{% endblock contenido2 %}

