{% extends 'core/base_nav.html' %}

{% block contenido %}

						<div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4" style="color: black">Ingreso clientes</h3></div>
                                    <div class="card-body">
                                        <form>
                                            <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Rut</label><input class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Ingrese su rut" /></div>
                                            <div class="form-group"><label class="small mb-1" for="inputPassword">Contraseña</label><input class="form-control py-4" id="inputPassword" type="password" placeholder="Ingrese su contraseña" /></div>
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0"><a class="small" href="{% url 'password' %}">Olvidó su contraseña?</a><a class="btn btn-primary" href="{% url 'login' %}">Ingresar</a></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
 {% endblock contenido %}